html body{
    font-family: Lato, sans-serif;
    margin: 0;
    /* border: 15px outset rgb(81, 173, 81); */
    border-radius: 10px;
    width: 100vw;
}

.italic{
    font-style: italic;
}

.resume{
    font-size: 30px;
}

.ProjectImage {
    border: 5px solid black;
    border-radius: 20px;
    margin-bottom: 70px;
    max-width: 800px;
}

.Portrait{
    width: 250px;
    border-radius: 30%;
    box-shadow: -8px 8px 15px black;
    margin-top: 100px;
}

.Portrait:hover{
    transition-timing-function: linear;
    transition-duration: .25s;
    transform: rotate(8deg) scale(1.3);
}

 /* transform smoothly back when not hovering */
.Portrait:not(:hover){
    transition-timing-function: linear;
    transition-duration: .25s;
    transform: rotate(0deg) scale(1);
}

header{
    text-align: center;
    height: 650px;
    margin: 0;
    animation-name: fadeIn;
    animation-duration: 5s;
}

@keyframes fadeIn {
    from{opacity: 0;}
    to{opacity: 1;}
}

main{
    padding: 150px, 0;
    max-width: 800px;
}

.container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

h1{
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 80px;
    margin-bottom: 0;
}

p{
    text-indent: 20px;
    padding: 10px;
}

h2{
    font-size: 5vb;
    letter-spacing: 2px;
    display: inline-block;
    padding: 10px;
}

h3{
    margin-top: 60px;
    font-size: 3vb;
    padding: 10px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
}

footer h2{
    margin-bottom: 0;
    margin-top: 30px;
}

footer a{
    color:white;
    margin: 5px;
    border-color: white;
}

footer div{
    padding-bottom:20px;
}

a{
    color: black;
    cursor: pointer;
    display: inline-block;
    border-radius: 10px;
    text-decoration: none;
    border: 2px solid black;
    padding: 10px;
    box-shadow: 5px 5px 5px;
}

a:hover{
    border-color: darkblue;
    color: darkblue;
    animation-name: changeColor;
    animation-duration: 9s;
}

@keyframes changeColor {
    0%{color: blue; border-color: blue;}
    75%{color:red; border-color: red;}
    100%{color: blue; border-color: blue;}
}

aside{
    padding: 50px;
    text-align: center;
}



#progressBar {
    background: linear-gradient(to bottom right, blue, lightblue);
    width: 10px;
    height: 10px;
    position: fixed;
    top: -10;
    font-size: 10px;
    padding: 5px;
}

/* Transitioning on scroll images */

#transitionImage img {
    width: 100vw;
    height: 100vh;
}

/* Smaller than 1000px max width of container is 75vw */
@media (max-width: 1000px) {
    main, .ProjectImage {
        max-width: 75vw;
    }
}